{% comment %}

  This snippet provides the default handlebars.js templates for
  the ajaxify cart plugin. Use the raw liquid tags to keep the
  handlebar.js template tags as available hooks.

{% endcomment %}
  <script id="cartTemplate" type="text/template">
  {% raw %}
        <form action="/cart" method="post" class="cart-form" novalidate>
     <div class="text-center cart_tiltle_header">
        <h1 class="h1 dr-fs"> {% endraw %}Shopping Cart{% raw %}</h1>
        <!--p>{% endraw %} Free Shipping On US Orders Over $75 + Always Free Returns{% raw %}</p-->
      </div>
      <div class="ajaxifyCart--products">
        {{#items}}
        <div class="ajaxifyCart--product line">
          <div class="ajaxifyCart--row" data-line="{{line}}">
            <div class="grid">
              <div class="grid__item medium-up--one-whole">
                <div class="grid">
                  <div class=" grid__item three-tenths">
                    <a href="{{url}}" class="ajaxCart--product-image"><img src="{{img}}" alt=""></a>
                  </div>
                  <div class="grid__item seven-tenths pad_right-left">
                  	<div class="pro-title-my"><a href="{{url}}" class="cart_title">{{name}}</a></div>
                  	<div class="left-my">                    
                    {{#if variation}}
                    <p class="pro-variant">{{variation}}</p>
                    {{/if}}
                    <p class="prod-price"><span class="money">{{price}}</span></p>
                    </div>
                    {% endraw %}{% comment %}{{#list 11 itemQty}}{{/list}}{% endcomment %}{% raw %}
                    <div class="my-up">
                    <div class="ajaxifyCart--qty">
                    <span class="ajaxifyCart--qty-adjuster ajaxifyCart--minus" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemMinus}}"><h4 class="my-si">-</h4></span>
                    <input type="text" class="ajaxifyCart--num" value="{{itemQty}}" data-id="{{key}}" min="0" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
                    <span class="ajaxifyCart--qty-adjuster ajaxifyCart--add" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemAdd}}"><h4 class="my-si">+</h4></span>                      
                    </div>
                    <div class="rm-my">
                    	<a href="/cart/change?line={{line}}&amp;quantity=0" class="ajaxifyCart--remove" data-line="{{line}}">Remove</a>                
                    </div>
                    </div>                                        
                </div>
              </div>

            </div>
          </div>
        </div>
        {{/items}}
      </div>
      <div class="last-sec-my">
      	<p>{% endraw %}Discount codes, shipping and taxes applied at checkout{% raw %}</p>
      </div>
	   <footer class="cart__footer_ajax">
        <div class="grid">
        <div class="grid__item text-center">
	    <div class="ajaxifyCart--row cart__total">
		  <span class="cart__subtotal-title">Subtotal</span>
		  <span class="cart__subtotal"><span class="money">{{totalPrice}}</span></span>
		  </div>
		  <div class="ajaxifyCart--row">
          <input type="submit" class="{{btnClass}} grid__item medium-up--one-whole chckout" name="checkout" value="CHECK OUT">
		  <a href="/cart" class="cart__update cart__continue--large" >YOUR CART</a>
		  </div>
		  
        </div>
	  </div>
	  </footer>
    </form>
  {% endraw %}
  </script>
  <script id="drawerTemplate" type="text/template">
  {% raw %}
    <div id="ajaxifyDrawer" class="ajaxify-drawer">
      <div id="ajaxifyCart" class="ajaxifyCart--content {{wrapperClass}}"></div>
    </div>
    <div class="ajaxifyDrawer-caret"><span></span></div>
  {% endraw %}
  </script>
  <script id="modalTemplate" type="text/template">
  {% raw %}
    <div id="ajaxifyModal" class="ajaxify-modal">
      <div id="ajaxifyCart" class="ajaxifyCart--content"></div>
    </div>
  {% endraw %}
  </script>
  <script id="ajaxifyQty" type="text/template">
  {% raw %}
    <div class="ajaxifyCart--qty">
      <input type="text" class="ajaxifyCart--num" value="{{itemQty}}" data-id="{{key}}" min="0" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
      <span class="ajaxifyCart--qty-adjuster ajaxifyCart--add" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemAdd}}">+</span>
      <span class="ajaxifyCart--qty-adjuster ajaxifyCart--minus" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemMinus}}">-</span>
    </div>
  {% endraw %}
  </script>
  <script id="jsQty" type="text/template">
  {% raw %}
    <div class="js-qty">
      <input type="text" class="js--num" value="{{itemQty}}" min="1" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}">
      <span class="js--qty-adjuster js--add" data-id="{{key}}" data-qty="{{itemAdd}}">+</span>
      <span class="js--qty-adjuster js--minus" data-id="{{key}}" data-qty="{{itemMinus}}">-</span>
    </div>
  {% endraw %}
  </script>
<style>
  .cart__footer_ajax .cart__total {
    margin-bottom: 6px;
    /*border-top: 1px solid #e9e9e9;*/
    border-bottom: 1px solid #e9e9e9;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    width: 100%;
    margin-top: 0;
  }
  .cart__subtotal{float:right;font-family: "open sans";}

  .cart__subtotal-title {
    float: left;
    padding-left: 14px;
    font-size: 12px;
    line-height: 2em;
  }
  .cart__continue--large {
    margin-right: 10px;
    line-height: 1.2;
    font-weight: 600;
    width: 100%;
    float: left;
    padding: 13px;
    background: #EAEAEA;
    color: #fff;
    border-radius: 3px;
    font-size:13px;
    letter-spacing: 1px;
  }
  #ajaxifyCart .ajaxifyCart--product.line {
    border: none;
}
  .cart__continue--large:hover, .chckout:hover {opacity:1;}
  .chckout {
    width: 100%;
    border-radius: 3px;
    padding: 0px;
    line-height: 1.2;
    margin-bottom:15px;
    text-transform:none;
    background:#3E3E3E;
    font-size: 13px;
    font-weight: normal;
  }
  .checkout .btn:hover{opacity:1;}
  .line {
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 9px;
  }
  .cart__footer_ajax {
    margin-top: 20px;
  }
  #ajaxifyCart input.ajaxifyCart--num {
    width: 30px;
    height: 32px;
    font-size: 19px;
    border:none;    
    float: left;
    padding:0px;
    line-height: 10px;
    text-align:center;
    border-radius: 0px;
}
  .rm-my a {
    opacity: 0.6;
        margin-right:25px;
    font-size: 11px;
}
  #ajaxifyCart span.ajaxifyCart--qty-adjuster {
    width: 30px;
    height: 32px;
    /*border: 1px solid #e1e1e1;*/    
    float: left;
    text-align: center;
    cursor: pointer;
}
  .text-center.cart_tiltle_header .h1.dr-fs {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 600;
}
  .pro-title-my {
    padding-top: 8px;
}
  input.btn.grid__item.medium-up--one-whole.chckout {
    /*ckground: #000;*/
    background:#302d2f;
    font-size: 15px;
    font-weight: 600;
}
  .cart__footer_ajax .cart__total {
    padding: 7px 20px;
}
  span.cart__subtotal {
    padding-right: 0x;
}
  .ajaxifyCart--product.line .ajaxifyCart--row {
    border-top: 1px solid #ececec;
    padding-top: 10px;
        margin-top: 17px;
}
  .cart__footer_ajax .cart__update.cart__continue--large {
    display: none;
}
  .ajaxifyCart--product.line .cart__footer_ajax .ajaxifyCart--row {
    border-top: none;
    padding-top: 0;
        margin-top: 0px;
}
  #ajaxifyCart .ajaxifyCart--product {
    margin-top: 0px;
}
  #ajaxifyCart .cart_tiltle_header {
    border-bottom: none;
}
  .cart__footer_ajax {
    border: 1px solid #e9e9e9;
    padding: 10px 20px 0px;
}
  #ajaxifyCart span.ajaxifyCart--qty-adjuster.ajaxifyCart--add {
    border-left: 0px;
}
  .text-center.cart_tiltle_header p {
    font-size: 13px;
}
  .last-sec-my p {
    font-size: 12px;
}
span.ajaxifyCart--qty-adjuster.ajaxifyCart--minus h4.my-si {
    position: relative;
    top: -3px;
}
.last-sec-my {
    padding-top: 30px;
    text-align: center;
}
  div#ajaxifyCart .grid__item.seven-tenths.pad_right-left {
    font-size: 0px;
}

.my-up, .left-my {    
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}
.left-my {
    text-align: left;
    width: 40%;
      margin-top: 0px;
}
  .my-up {
    width: 60%;
    text-align: right;
    padding-right: 10px;
}
  .my-up .ajaxifyCart--qty {
    display: inline-block;    
    border: 1px solid #b7b7b7;    
}
  h4.my-si {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 0px;
    padding-top: 0px;
    width: 100%;
    height: 100%;
}
  #ajaxifyCart span.ajaxifyCart--qty-adjuster.ajaxifyCart--add h4.my-si {
    font-size: 22px;
    position: relative;
    top: 0px;
}
 #ajaxifyCart .pro-variant {
    display: block;
    color: #000000;
    opacity: 1;
    font-size: 15px;
}
  #ajaxifyCart .prod-price {
    color: #000000;
    opacity: 1;
    font-family: "open sans";
    font-size: 15px;
}
  
  .ajaxifyCart--product.line:last-child{border-bottom:0;}
  .ajaxifyCart--product.line:last-child{border-bottom:0;}	
  .ajaxifyCart--product .cart__qty-input{width: 80px;padding:0px 5px 0px 10px !important;text-align:left;margin-top:10px;}
  .pro-variant{display:block; color: #4a4a4a; opacity: 0.6;font-size: 13px;}
  .cart_title {font-weight: 600;font-size:15px;}
  .cart-form .h3.dr-fs {font-size: 13px;}
  .prod-price {color: #4a4a4a;opacity: 0.6;font-family: "open sans";font-size: 13px;}
  .cart__footer_ajax .additional_checkout_buttons {
    clear: both;
    position: relative;
    top: 14px;
  }
  .cart__footer_ajax .additional-checkout-button {
    margin-left: 0;
    width: 100%;
  }
  @media only screen and ( max-width:767px ) {
    .my-up, .left-my {   
    vertical-align: top;
    margin-top: 5px;
}
    .text-center.cart_tiltle_header .h1.dr-fs {
    font-size: 14px;
    margin-bottom: 5px;
}
    .text-center.cart_tiltle_header p {
    font-size: 9px;
}
    #ajaxifyCart .pro-variant, #ajaxifyCart .prod-price {    
    font-size: 10px;
}
    #ajaxifyCart input.ajaxifyCart--num {
    width: 25px;
    height: 25px;    
    font-size: 10px;
    line-height: 0px;
    padding: 0;
    text-align: center;
}
    .rm-my a {
    opacity: 0.6;
    margin-right: 18px;
}
    .ajaxifyCart--row .chckout {
    padding: 13px 0px;
    background: #000;
    font-weight: 600;
    font-size: 14px;
}
    span.ajaxifyCart--qty-adjuster.ajaxifyCart--minus h4.my-si {
    position: relative;
    top: 1px;
}
  body #ajaxifyCart span.cart__subtotal-title,body #ajaxifyCart .cart__subtotal {
    font-weight: bold;
}
#ajaxifyCart .cart__footer_ajax {    
    padding: 0;
    border: none;
      border-top: 1px solid #e9e9e9;
}
    span.ajaxifyCart--qty-adjuster.ajaxifyCart--add h4.my-si {
    position: relative;
    top: 2px;
}
    #ajaxifyCart .cart_title {
    font-weight: 300;
    font-size: 15px;
}
    #ajaxifyCart .cart__footer_ajax .cart__total {
    padding: 7px 20px;
    border-bottom: none;
        margin-bottom: -15px;  
}
    #ajaxifyCart span.ajaxifyCart--qty-adjuster {
    width: 25px;
    height: 25px;    
}
    h4.my-si {
    font-size: 15px;  
          padding-top: 0px;
}
  }
</style> 