<a class="grid-view-item__link grid-view-item__image-container" href="{{ product.url | within: collection }}">
    {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
    {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
    {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

    {% unless product.featured_image == blank %}
  	{% comment %}
      {% include 'image-style' with image: product.featured_image, width: max_height, height: max_height, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
  	{% endcomment %}  
  	{% endunless %}

        <img id="{{ img_id }}"
             src="{{ product.featured_image | img_url: 'grande' }}"
             alt="{{ product.featured_image.alt | escape }}">
     <div class="pro_info">
    <div class="h4 grid-view-item__title">{{ product.title }}</div>
    {% if section.settings.show_vendor %}
      <div class="grid-view-item__vendor">{{ product.vendor }}</div>
      {% endif %}
      <div class="grid-view-item__meta">
        {% include 'product-price' %}
      </div>
    </div>
  </a>

