<div class="page-width" data-section-id="{{ section.id }}" data-section-type="quotes">
  {% if section.settings.title != blank %}
    <div class="section-header text-center " >
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

{% if section.blocks.size > 0 %}
<div class="quotes-wrapper">
      <div class="quotes-slider" id="Quotes-{{ section.id }}" data-count="{{ section.blocks.size }}">
     
      {% for block in section.blocks limit: section.blocks.size %}
      <div class="quotes-slide--{{ block.id }}" {{ block.shopify_attributes }}>
            <blockquote class="quotes-slider__text text-center">
          {%- assign collection = collections[block.settings.collection] -%}
          {% include 'collection-grid-item' %}
        </blockquote>
          </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div>


{% schema %}
  {
    "name": "Collection list",
    "class": "index-section",
    "max_blocks": 12,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      },
      {
        "type": "range",
        "id": "grid",
        "label": "Collections per row",
        "min": 2,
        "max": 5,
        "step": 1,
        "default": 3
      }
    ],
    "blocks": [
      {
        "type": "featured_collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list",
        "category": "Collection",
        "blocks": [
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          }
        ]
      }
    ]
  }
{% endschema %}
